<section data-ng-controller="HomeController">
	<div class="row">
		<div style="text-align:center" ng-repeat="alert in alerts">
			<div class="row">
				<div style="text-align:center">
					<h1 >
						<i class="glyphicon glyphicon-user" ng-class="alert.colour" style="font-size:240px"></i>
					</h1>
				</div>
				<div style="text-align:center">
					<h1>{{totalItems}}</h1>
				</div>
				<div class="row">
					<div style="text-align:center">
						<span class="text-muted">{{alert.description}}</span>
					</div>
			</div>
		</div>
	</div>
 </div
</section>
