<section data-ng-controller="PessoasController">
    <div class="page-header">
        <h1>Dados Pessoais</h1>
    </div>
    <div class="col-md-12">
        <form name="myForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="nome">Nome</label>
                    <div class="controls">
                        <input type="text" data-ng-model="nome" id="nome" name="nome" class="form-control"  ng-required="true">
                    </div>
                    <div class="alert alert-danger" ng-show="myForm.nome.$invalid && myForm.nome.$dirty">
                        Nome é um campo obrigatório.
                    </div>    

                    <label class="control-label" for="sobrenome">Sobrenome</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sobrenome" id="sobrenome" class="form-control" ng-required="true">
                    </div>
                    <div class="alert alert-danger" ng-show="myForm.sobrenome.$invalid && myForm.sobrenome.$dirty">
                        Sobrenome é um campo obrigatório.
                    </div>    

                    <label class="control-label" >CPF</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cpf" id="cpf" class="form-control" ui-mask="999.999.999-99" required>
                    </div>
                    <div class="alert alert-danger" ng-show="myForm.cpf.$invalid && myForm.cpf.$dirty">
                        CPF é um campo obrigatório.
                    </div>
                    
                    <label class="control-label" >Identidade</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="identidade.nr" id="Identidade" class="form-control"  ui-mask="99999999-9">
                    </div>
                    
                    <label class="control-label" >Data de Expedição</label>
                    <div class="controls">    
                        <input type="date" data-ng-model="identidade.dataExpedicao" id="DataExpedicao" class="form-control" value="{{ date | date: 'dd-MM-yyyy' }}" ui-mask="99/99/9999" maxlenght="10">
                    </div>

                    <label class="control-label" >Órgão Expedidor</label>
                    <div class="controls">
                        <input type="text" data-ng-model="identidade.orgaoExpedidor" id="orgaoExpedidor" class="form-control" >
                    </div>
                    
                    <label class="control-label">Data de Nascimento</label>
                    <div class="controls">    
                        <input type="date" data-ng-model="dataNascimento" id="dataNascimento" class="form-control" value="{{ date | date: 'dd-MM-yyyy' }}" ui-mask="99/99/9999">
                    </div>
                    
                    <label class="control-label" >Email</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="email" id="email" class="form-control" name="email"> <!--ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"-->
                    </div>
                    <!--div ng-messages="myForm.email.$error" ng-messages-include="error-messages">
                        <div ng-message="pattern">Insira um email válido!</div>
                    </div-->
                    
                    <label class="control-label" >Logradouro</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="endereco.logradouro" id="logradouro" class="form-control" >
                    </div>
                    
                    <label class="control-label" >Número</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="endereco.nr" id="Numero" class="form-control" >
                    </div>    

                    <label class="control-label" >Complemento</label>
                    <div class="controls">
                        <input type="text" data-ng-model="endereco.complemento" id="complemento" class="form-control" >
                    </div>
                    
                    <label class="control-label" >CEP</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="endereco.cep" id="cep" class="form-control" ui-mask="99999-999">
                    </div>
                    
                    <label class="control-label" >Bairro</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="endereco.bairro" id="bairro" class="form-control">
                    </div>
                    
                    <label class="control-label" >Cidade</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="endereco.cidade" id="cidade" class="form-control">
                    </div>
                    
                    <label class="control-label" >Estado</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="endereco.estado" id="estado" class="form-control">
                    </div>
                    
                    <label class="control-label" >Nome do Pai</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="pai" id="pai" class="form-control">
                    </div>
                    
                    <label class="control-label" >Nome da Mãe</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="mae" id="mae" class="form-control">
                    </div>
                    
                    <label class="control-label" >Telefone Residencial</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="telefone.residencia" id="telefone" class="form-control" ui-mask="(99)9999-9999">
                    </div>
                    
                    <label class="control-label" >Telefone Celular</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="telefone.celular" id="celular" class="form-control" 
                        ui-mask="(99)9999-9999?9">
                    </div>
                    
                    <label class="control-label" >Telefone do Trabalho</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="telefone.trabalho" id="trabalho" class="form-control" ui-mask="(99)9999-9999">
                    </div>
                    
                    <label class="control-label" >Número da Carteira do Trabalho</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="ctps.nr" id="numeroCarteira" class="form-control">
                    </div>
                    
                    <label class="control-label" >Série</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="ctps.serie" id="serieCarteira" class="form-control">
                    </div>
                    
                    <label class="control-label" >Estado Civil</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="estadoCivil" id="estadoCivil" class="form-control">
                    </div>
                    
                    <label class="control-label" >Regime</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="estadoCivil.regime" id="regimeEstadoCivil" class="form-control">
                    </div>
                    
                    <label class="control-label" >Nome do Cônjuge</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="nomeConjuge" id="conjuge" class="form-control">
                    </div>
                    
                    <label class="control-label" >PIS PASEP</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="pisPasep" id="pisPasep" class="form-control" >
                    </div>
                    
                    <label class="control-label" >INSS</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="inss" id="inss" class="form-control">
                    </div>
                    
                    <label class="control-label" >Nacionalidade</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="nacionalidade" id="nacionalidade" class="form-control">
                    </div>
                    
                    <label class="control-label" >Naturalidade</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="naturalidade" id="naturalidade" class="form-control" >
                    </div>
                    
                    <label class="control-label" >Percentual (%)</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="percentual" id="percentual" class="form-control">
                    </dvi>
                    
                    <label class="control-label" >Data de Admissão</label>
                    <div class="controls">    
                        <input type="date" data-ng-model="dataAdmissao" id="dataAdmissao" class="form-control"  value="{{ date | date: 'dd-MM-yyyy' }}" ui-mask="99/99/9999">
                    </div>
                    
                    <label class="control-label" >Data de Demissão</label>
                    <div class="controls">    
                        <input type="date" data-ng-model="dataDemissao" id="dataDemissao" class="form-control" value="{{ date | date: 'dd-MM-yyyy' }}" ui-mask="99/99/9999">
                    </div>

                    <label class="control-label" >Empresa Cartão de Milhagem</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="cartaoMilhas.empresa" id="empresa" class="form-control">
                    </div>
                    
                    <label class="control-label" >Nome</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="cartaoMilhas.nome" id="cartaoNome" class="form-control">
                    </div>
                    
                    <label class="control-label" >Número Cartão de Milhagem</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="cartaoMilhas.nr" id="numeroCartao" class="form-control">
                    </div>

                    <label class="control-label" >Nome Agência Bancária</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="banco.nome" id="nomeAgencia" class="form-control">
                    </div>

                    <label class="control-label" >Número Agência Bancária</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="banco.agencia" id="agencia" class="form-control">
                    </div>

                    <label class="control-label" >CC</label>
                    <div class="controls">    
                        <input type="text" data-ng-model="banco.conta" id="contaCorrente" class="form-control">
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="alert alert-danger"> <!--class="text-danger"-->
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>