<html lang="pt-BR">

<section data-ng-controller="PessoasController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar Pessoa</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
              <div class="form-group">
                  <ul class="tabs">

                    <!-- tab de dados -->
                      <li>
                        <input type="radio" checked name="tabs" id="tab1">

                        <label for="tab1">Dados</label>
                        <div id="tab-content1" class="tab-content animated fadeIn">
                            <label for="nome">Nome*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.nome" id="nome" name="nome" class="form-control"
                                ng-blur="nameValidate(pessoa.nome)">
                            </div>

                            <div class="alert alert-danger" ng-if="!firstNameValidate">
                                Nome é um campo obrigatório.
                            </div>

                            <label for="sobrenome">Sobrenome*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.sobrenome" id="sobrenome" class="form-control" name="sobrenome"
                                ng-blur="secNameValidate(pessoa.sobrenome)">
                            </div>
                            <div class="alert alert-danger" ng-if="!secondNameValidate">
                                Sobrenome é um campo obrigatório.
                            </div>

                            <label >Data de Nascimento</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.dataNascimento" id="dataNascimento" class="form-control" ui-mask="99/99/9999"
                                  ng-blur="validateDataNascimento(pessoa.dataNascimento)">
                            </div>

                            <div class="alert alert-danger" ng-if="!dataNascimentoValida">
                                Data de Nascimento inválida.
                            </div>

                            <label>Email</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.email" id="email" class="form-control" name="email"
                                ng-blur="validateEmail(pessoa.email)">
                            </div>

                            <div class="alert alert-danger" ng-if="!emailValidate">
                                Email inválido.
                            </div>

                            <label >Nacionalidade</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.nacionalidade" id="nacionalidade" class="form-control">
                            </div>

                            <label >Naturalidade</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.naturalidade" id="naturalidade" class="form-control" >
                            </div>

                            <div>
                               <label>* Campo Obrigatório</label>
                            </div>
                        </div>
                      </li>

                      <!-- tab de endereco -->
                      <li>
                        <input type="radio" name="tabs" id="tab2">
                        <label for="tab2">Endereço</label>
                        <div id="tab-content2" class="tab-content animated fadeIn">
                          <label>Logradouro</label>
                          <div class="controls">
                              <input type="text" data-ng-model="pessoa.endereco.logradouro" id="logradouro" class="form-control" >
                          </div>

                          <label>Número</label>
                          <div class="controls">
                              <input type="text" data-ng-model="pessoa.endereco.nrLogradouro" id="Numero" class="form-control" >
                          </div>

                          <label>Complemento</label>
                          <div class="controls">
                              <input type="text" data-ng-model="pessoa.endereco.complemento" id="complemento" class="form-control" >
                          </div>

                          <label>CEP</label>
                          <div class="controls">
                              <input type="text" data-ng-model="pessoa.endereco.cep" id="cep" class="form-control" ui-mask="99999-999">
                          </div>

                          <label>Bairro</label>
                          <div class="controls">
                              <input type="text" data-ng-model="pessoa.endereco.bairro" id="bairro" class="form-control">
                          </div>

                          <label >Cidade</label>
                          <div class="controls">
                              <input type="text" data-ng-model="pessoa.endereco.cidade" id="cidade" class="form-control">
                          </div>

                          <label>Estado</label>
                          <div class="controls">
                              <select data-ng-model="pessoa.endereco.estado" class="form-control">
                                <option value="">Selecione</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                              </select>
                          </div>

                        </div>
                      </li>

                      <!-- tab de dependentes -->
                      <li>
                        <input type="radio" name="tabs" id="tab3">
                        <label for="tab3">Dependentes</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                          <!--label class="control-label" >Possui Dependentes</label>
                          <div class="controls">
                              <input type="checkbox" id="possui" class="form-control" data-ng-click="visibity()">
                          </div-->

                          <div >
                            <div>
                            <label >Nome Dependente</label>
                            <div class="controls">
                                <input type="text" data-ng-model="dependentes.nomeDependente" id="nomeDependente" name="nomeDependente" class="form-control">
                            </div>

                            <label>Parentesco</label>
                            <div class="controls">
                                <input type="text" data-ng-model="dependentes.parentesco" id="parentesco" name="parentesco" class="form-control">
                            </div>

                            <label>Data de Nascimento</label>
                            <div class="controls">
                                <input type="text" data-ng-model="dependentes.dataNascimentoDependente" id="dataNascimentoDependente" name="dataNascimentoDependente" class="form-control"
                                ng-blur="validateDataNascimentoDependente(dependentes.dataNascimentoDependente)" ui-mask="99/99/9999">
                            </div>
                            <!-- <div class="controls">
<input type="date" data-ng-model="dependentes.dataNascimentoDependente" maxlength="10" name="dataNascimentoDependente"
 id="dataNascimentoDependente" class="form-control" ui-mask="99/99/9999" min="01/01/2012" max="01/01/2030" />
                            </div> -->
                            <div class="alert alert-danger alert-dismissible" ng-if="!dataNascimentoDependenteValida">
                                  Data de Nascimento do Dependente inválida.
                            </div>

                            <label >CPF</label>
                            <div class="controls">
                                <input type="text" data-ng-model="dependentes.cpfDependente" id="cpfDependente" name="cpfDependente" class="form-control"
                                ng-blur="validateCPFDependente(dependentes.cpfDependente)" ui-mask="999.999.999-99">
                            </div>

                            <div class="alert alert-danger" ng-if="!validoDependente">
                                CPF inválido.
                            </div>

                            <br/>

                            <div class="form-group" style="text-align:center;">
                                <input type="button" ng-if="!rendered" class="btn btn-default" ng-click="addArrayEdt(dependentes)" value="Adicionar"
                                ng-disabled="!dependentes.nomeDependente || !dependentes.parentesco || !dependentes.dataNascimentoDependente">

                                <!-- <input type="button" ng-if="rendered" class="btn btn-default" ng-click="edtArray(pessoa.dependentes)" value="Atualizar"
                                ng-disabled="!pessoa.dependentes.nomeDependente || !pessoa.dependentes.parentesco || !pessoa.dependentes.dataNascimentoDependente"> -->

                                <input type="button" class="btn btn-default" ng-click="clear(dependentes)" value="Limpar">
                            </div>

                            <table id="dependentesPessoa" class="tabela tabela-bordered tabela-hover tabela-condensed" style="width: 100%">
                              <thead>
                               <tr>
                                  <th>Nome</th>
                                  <th>Parentesco</th>
                                  <th>CPF</th>
                                  <th>Data de Nascimento</th>
                                  <th>Ações</th>
                               </tr>
                             </thead>
                             <tbody>
                               <!-- <tr ng-repeat = "dep in pessoa.dependentes"> -->
                               <tr ng-repeat = "dep in pessoa.dependentes">
                                    <td>{{dep.nomeDependente}}</td>
                                    <td>{{dep.parentesco}}</td>
                                    <td>{{dep.cpfDependente}}</td>
                                    <td>{{dep.dataNascimentoDependente}}</td>
                                    <td><a class="btn btn-primary" data-ng-click="selecionado(dep);">
                                          <i class="glyphicon glyphicon-edit"></i></a>&nbsp;
                                        <a class="btn btn-primary" data-ng-click="deletarItemArrayEdt(dep)">
                                          <i class="glyphicon glyphicon-trash"></i></a></td>
                               </tr>
                             </tbody>
                            </table>
                        </div>
                        </div>
                      </li>

                      <!-- tab de documento -->
                      <li>
                        <input type="radio" name="tabs" id="tab4">
                        <label for="tab4">Documentos</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                            <label >CPF*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.cpf" id="cpf" class="form-control" ui-mask="999.999.999-99"
                                  ng-blur="validateCPF(pessoa.cpf)" maxlength="11" required>
                            </div>
                            <div class="alert alert-danger" ng-if="!cpfValidate">
                                CPF é um campo obrigatório.
                            </div>

                            <div class="alert alert-danger" ng-if="!valido">
                                CPF inválido.
                            </div>

                            <label >Identidade</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.rg.nrRG" id="Identidade" class="form-control" maxlength="11" size="11">
                            </div>

                            <label >Data de Expedição</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.rg.dataExpedicao" id="DataExpedicao" class="form-control" ui-mask="99/99/9999" maxlenght="10"
                                ng-blur="validateData(pessoa.rg.dataExpedicao)">
                            </div>

                            <div class="alert alert-danger" ng-if="!dataValida">
                                Data de Expedição inválida.
                            </div>

                            <label  >Órgão Expedidor</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.rg.orgaoExpedidor" id="orgaoExpedidor" class="form-control" >
                            </div>

                            <label  >Número da Carteira do Trabalho</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.ctps.nrCtps" id="numeroCarteira" class="form-control">
                            </div>

                            <label >Série</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.ctps.serie" id="serieCarteira" class="form-control">
                            </div>

                            <label >PIS PASEP</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.pisPasep" id="pisPasep" class="form-control" >
                            </div>

                            <label >INSS</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.inss" id="inss" class="form-control">
                            </div>

                            <div>
                               <label>* Campo Obrigatório</label>
                            </div>

                        </div>
                      </li>

                      <!-- tab de milhagem -->
                      <li>
                        <input type="radio" name="tabs" id="tab5">
                        <label for="tab5">Milhagem</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                            <label>Empresa Cartão de Milhagem</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.cartaoMilhas.empresa" id="empresa" class="form-control">
                            </div>

                            <label >Nome do Cartão</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.cartaoMilhas.nomeEmpresa" id="cartaoNome" class="form-control">
                            </div>

                            <label>Número Cartão de Milhagem</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.cartaoMilhas.nrCartao" id="numeroCartao" class="form-control">
                            </div>
                        </div>
                      </li>

                      <!-- tab de banco -->
                      <li>
                        <input type="radio" name="tabs" id="tab6">
                        <label for="tab6">Banco</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                            <label >Agência Bancária</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.banco.nomeBanco" id="nomeAgencia" class="form-control">
                            </div>

                            <label >Número Agência</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.banco.agencia" id="agencia" class="form-control">
                            </div>

                            <label >Conta Corrente</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.banco.conta" id="contaCorrente" class="form-control">
                            </div>
                        </div>
                      </li>


                      <!-- tab de filiação -->
                      <li>
                        <input type="radio" name="tabs" id="tab7">
                        <label for="tab7">Filiação</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                            <label >Pai</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.pai" id="pai" class="form-control">
                            </div>

                            <label >Mãe</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.mae" id="mae" class="form-control">
                            </div>
                        </div>
                      </li>

                      <!-- tab de estado civil -->
                      <li>
                        <input type="radio" name="tabs" id="tab8">
                        <label for="tab8">Estado Civil</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                            <label >Estado Civil</label>
                            <div class="controls">
                                <select data-ng-model="pessoa.estadoCivil.estado" class="form-control">
                                  <option value="">Selecione</option>
                                  <option value="Solteiro(a)">Solteiro(a)</option>
                                  <option value="Casado(a)">Casado(a)</option>
                                  <option value="Divorciado(a)">Divorciado(a)</option>
                                  <option value="Viúvo(a)">Viúvo(a)</option>
                                  <option value="União Estável">União Estável</option>
                                </select>
                            </div>

                            <label >Regime</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.estadoCivil.regime" id="regimeEstadoCivil" class="form-control">
                            </div>

                            <label >Nome do Cônjuge</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.nomeConjuge" id="conjuge" class="form-control">
                            </div>
                        </div>
                      </li>

                      <!-- tab de telefone -->
                      <li>
                        <input type="radio" name="tabs" id="tab9">
                        <label for="tab9">Telefone</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                            <label >Telefone Residencial</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.telefone.residencia" id="telefone" class="form-control" ui-mask="(99)9999-9999">
                            </div>

                            <label>Telefone Celular</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.telefone.celular" id="celular" class="form-control"
                                ui-mask="(99)9999-9999?9">
                            </div>

                            <label>Telefone do Trabalho</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.telefone.trabalho" id="trabalho" class="form-control" ui-mask="(99)9999-9999">
                            </div>
                        </div>
                      </li>

                      <!-- tab de info funcionario -->
                      <li>
                        <input type="radio" name="tabs" id="tab10">
                        <label for="tab10">Outras Informações</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                            <label>Percentual (%)</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.percentual" id="percentual" class="form-control">
                            </dvi>

                            <label>Data de Admissão</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.dataAdmissao" id="dataAdmissao" class="form-control" ui-mask="99/99/9999"
                                ng-blur="validateDataAdmissao(pessoa.dataAdmissao)">
                            </div>

                            <div class="alert alert-danger" ng-if="!dataAdmissaoValida">
                                Data de Admissão inválida.
                            </div>

                            <label>Data de Demissão</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.dataDemissao" id="dataDemissao" class="form-control" ui-mask="99/99/9999"
                                ng-blur="validateDataDedmissao(pessoa.dataDemissao)">
                            </div>

                            <div class="alert alert-danger" ng-if="!dataDemissaoValida">
                                Data de Demissão inválida.
                            </div>

                            <label>Grupo Social</label>
                            <div class="controls">
                                <input type="text" data-ng-model="pessoa.grupoSocial" id="grupoSocial" class="form-control" >
                            </div>
                        </div>
                      </li>

                      <!-- tab de confirmar -->
                      <li>
                        <input type="radio" name="tabs" id="tab11">
                        <label for="tab11">Confirmar</label>
                        <div id="tab-content3" class="tab-content animated fadeIn">
                            <div class="form-group" style="text-align:center;">
                                <input type="submit" value="Salvar" class="btn btn-default"> &nbsp;
                                <input type="button" onclick="parent.location='/#!/pessoas'" value="Cancelar Edição" class="btn btn-default">
                            </div>

                            <div class="alert alert-danger" ng-if="!firstNameValidate">
                                Preencha o campo Nome na aba Dados.
                            </div>

                            <div class="alert alert-danger" ng-if="!secondNameValidate">
                                Preencha o campo Sobrenome na aba Dados.
                            </div>

                            <div class="alert alert-danger" ng-if="!cpfValidate">
                                Preencha o campo CPF na aba Documentos.
                            </div>
                        </div>
                      </li>

                  </ul>

            </div>

				<!--div data-ng-if="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div-->
            </fieldset>
        </form>
    </div>
</section>
