<section data-ng-controller="PessoasController" data-ng-init="find()"> <!-- data-ng-init="getPessoas()"-->
    <div class="page-header">
        <h1>Pessoas</h1>
    </div>
    <!--div class="list-group">
        <a data-ng-repeat="pessoa in pessoas" data-ng-href="#!/pessoas/{{pessoa._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="pessoa.nome"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="pessoa.sobrenome"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="pessoa.email"></h4>
            <small class="list-group-item-text">
                Criado em
                <span data-ng-bind="pessoa.created | date: 'dd/MM/yyyy'"></span>
                por
                <span data-ng-bind="pessoa.user.displayName"></span>
            </small>
        </a>
    </div-->
    <table class="table table-bordered table-hover table-condensed" style="width: 80%">
       <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>CPF</th>
       </tr>

       <tr ng-repeat = "pessoa in pessoas">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.sobrenome}}</td>
          <td>{{pessoa.email}}</td>
          <td>{{pessoa.cpf}}</td>
          <td><a class="btn btn-primary" href="/#!/pessoas/{{pessoa._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i></a>&nbsp;
                <a class="btn btn-primary" data-ng-click="ShowConfirm(pessoa);">
            			<i class="glyphicon glyphicon-trash"></i>
            		</a>
       </tr>
    </table>

    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    <div class="alert alert-warning text-center" data-ng-hide="!pessoas.$resolved || pessoas.length">
    	Não há pessoa(s) cadastrada(s) <a href="/#!/pessoas/create">Nova Pessoa</a>?
    </div>

</section>
