<section data-ng-controller="PessoasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Pessoas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="pessoa in pessoas" data-ng-href="#!/pessoas/{{pessoa._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="pessoa.created | date:'medium'"></span>
				by
				<span data-ng-bind="pessoa.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="pessoa.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!pessoas.$resolved || pessoas.length">
    	No Pessoas yet, why don't you <a href="/#!/pessoas/create">create one</a>?
    </div>
</section>