<section data-ng-controller="PessoasController" data-ng-init="findOne()">
	<div class="page-header">
		<h4 data-ng-bind="pessoa.nome"></h4>
		<h4 data-ng-bind="pessoa.sobrenome"></h4>
		<h4 data-ng-bind="pessoa.email"></h4>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == pessoa.user._id))">
		<a class="btn btn-primary" href="/#!/pessoas/{{pessoa._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Criado em
			<span data-ng-bind="pessoa.created | date: 'dd/MM/yyyy'"></span>
			por
			<span data-ng-bind="pessoa.user.displayName"></span>
		</em>
	</small>
</section>
